.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 10px;
}

.coin-type {
  display: flex;
  flex: 2;
}
.currency-logo {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 10px;
}
